.gradebook-wrapper
	%ul#months.nav.nav-tabs.clearfix
		%li
			%a{"data-toggle" => "tabs", :href => "#september"}
				month 1
		%li.pull-right
			.dropdown#group-list-container
				%button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
					Choose a group
					%span.caret
				%ul.dropdown-menu#group-list
					- @groups.each do |g|
						%li
							%a.dropdown-item{:href => "#"}
								= g.name

	%ul#subjects.nav.nav-pills.nav-stacked.col-md-1
		%li
			%a{"data-toggle" => "pill", :href => "#"} 
				subject 1
	.tab-content
		#mytab.tab-pane.fade.in.active.col-md-11
			%table#mytable.table.table-bordered.table-responsive