.gradebook-wrapper
	%ul#months.nav.nav-tabs.clearfix
		- @month_list.each do |k,v|
			%li
				%a{"data-toggle" => "tabs", :href => "#september", id: "#{v}"}
					= k
	.tab-content
		#mytab.tab-pane.fade.in.active.col-md-11
			%table#mytable.table.table-bordered.table-responsive
