<%= form_for(:parents do |f|, 
	html:{ id: "contact-form"})%>
	<p class="center">Dear student</p>
	<%= f.label class="col-md-4 control-label" for="your-name">name</label>
		<input id="your-name" type="text" name=your-name></input>
</form>