%div
	- fname, lname = @parent.get_info
	= fname
	= lname
.container
	.jumbotron
		.row
			.col-md-4.col-xs-12.col-sm-6.col-lg-4
				%img.img{:alt => "stack photo", :src => "https://www.svgimages.com/svg-image/s5/man-passportsiz-silhouette-icon-256x256.png"}/
			.col-md-8.col-xs-12.col-sm-6.col-lg-8
				.container{:style => "border-bottom:1px solid black"}
					%h2 John Doe
				%hr
				%ul.container.details
					%li
						%p
							%span.glyphicon.glyphicon-earphone.one{:style => "width:50px;"}>
							+91 90000 00000
					%li
						%p
							%span.glyphicon.glyphicon-envelope.one{:style => "width:50px;"}>
							somerandom@email.com
					%li
						%p
							%span.glyphicon.glyphicon-map-marker.one{:style => "width:50px;"}>
							Hyderabad
					%li
						%p
							%span.glyphicon.glyphicon-new-window.one{:style => "width:50px;"}
							%a{:href => "#"} www.example.com
      