#content-wrapper
	.row
		.col-lg-3.col-md-3.hidden-sm.hidden-xs
			.panel.panel-default
				.panel-body
					%div{:align => "center"}
						%img.thumbnail.img-responsive{:height => "300px", :src => "https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png", :width => "300px"}/
				.panel-heading 
					%h3 Profile
				.panel-body
					%h4 Baiastan Mametjanov
					%p
						%strong Date of Birth:
						11.08.1997
					%p
						%strong Group:
						ELT -14b
					%p
						%strong Teacher:
						Bakai Taalaibek
		.col-lg-9.col-md-9
			.row
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					.panel.panel-default
						.panel-body
							%span
								%h1.panel-title.pull-left{:style => "font-size:30px;"}
									Baiastan Mametjanov
								.dropdown.pull-right
									%button.btn.btn-success.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
										Parents
										%span.caret
									%ul.dropdown-menu
										%li
											%a{:href => "#"} John Doe
										%li
											%a{:href => ""} Jane Doe
										%li.divider{:role => "separator"}
										%li
											%a{:href => "#"}
												%i.fa.fa-fw.fa-plus{"aria-hidden" => "true"}
												Add parent
							%br
							%br
							%hr/
							%ul.student-info
								%li 
									%strong Group:
									ELT-14b
								%li
									%strong Teacher:
									%a{:href => "#"} Bakai Taalaibek
								%li
									%strong Date of Birth:
									11.08.1997
								%li
									%strong Phone number:
									+996555289760
							%span.pull-right
								%a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
									%i.fa.fa-lg.fa-at{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Mention"}
								%a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
									%i.fa.fa-lg.fa-envelope-o{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Message"}
								%a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
									%i.fa.fa-lg.fa-ban{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Ignore"}
				.col-sm-9
					%ul#myTab.nav.nav-tabs
						%li.active
							%a{"data-toggle" => "tab", :href => "#home"} Grades list
						%li
							%a{"data-toggle" => "tab", :href => "#messages"} Attendance
						%li
							%a{"data-toggle" => "tab", :href => "#settings"} Settings
					.tab-content
						#home.tab-pane.active
							.table-responsive
								%table.table.table-hover
									%thead
										%tr
											%th #
											%th Label 1
											%th Label 2
											%th Label 3
											%th Label
											%th Label
											%th Label
									%tbody#items
										%tr
											%td 1
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 2
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 3
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 4
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 5
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 6
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 7
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 8
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 9
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
										%tr
											%td 10
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
											%td Table cell
								%hr/
								.row
									.col-md-4.col-md-offset-4.text-center
										%ul#myPager.pagination
							/ /table-resp
