.row
	.col-sm-offset-3.col-sm-6
		.well
			%h2{align: "center"} Create Parent
			= form_tag("/messages", method: :post, multipart: true, role: "form") do
				.form-wrap.clearfix
					.form-inline.col-sm-offset-1
						.control-label
							= collection_select(:conversation, :parent_id, Parent.all, :id, :full_name)
						= submit_tag
.card-group
  .card
    %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100%x180/"}/
    .card-block
      %h4.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
  .card
    %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100%x180/"}/
    .card-block
      %h4.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
  .card
    %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100%x180/"}/
    .card-block
      %h4.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %p.card-text
        %small.text-muted Last updated 3 mins ago
