.row
	.col-sm-offset-3.col-sm-6
		.well
			%h2{align: "center"} Create Parent
			= form_tag("/messages", method: :post, multipart: true, role: "form") do
				.form-wrap.clearfix
					.form-inline.col-sm-offset-1
						.control-label
							= collection_select(:conversation, :parent_id, Parent.all, :id, :full_name)
						= submit_tag