
#sidebar-wrapper.sidebar
	%ul.sidebar-nav
		%li.sidebar-brand
			%a.navbar-brand{:href => "#"}
				%span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
				Profile
		%li
			= link_to(root_path) do
				%span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
				Home
		%li.collapsed{"data-toggle" => "collapse", "data-target" => "#create"}
			%a{:href => "#"}
				%span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
				Create
				%span.caret
		%ul#create.sub-menu.collapse
			%li
				= link_to "Students", new_admin_student_path
			%li
				= link_to "Parents", new_admin_parent_path
			%li
				= link_to "Teachers", new_admin_teacher_path
		%li
			%a{:href => "#"}
				%span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
				Messages